<footer>
  <div class="footer-content">
    <div class="footer-item  footer-company-intro">
      <div class="intro-top pc">
        <a href="http://weibo.com/huntcoder" target="_blank" >官方微博</a>
        <div class="jx-wx">官方微信
          <img class="wx-code-content" src="/static/img/jx-wx-code.png"/>
        </div>
      </div>
      <div class="intro-top mobile">
        <p>
          官方微博：
          <a href="http://weibo.com/huntcoder" target="_blank" >简寻</a>
        </p>
        <div class="jx-wx">官方微信：
          <span>简寻(jianxun-fuwu)</span>
        </div>
      </div>
      <div class="intro-bottom">
        <p> Copyright © 2014-2015 by jianxun </p>
      </div>
    </div>
    <div class="footer-item footer-company-contact">
      <div class="intro-top">
        服务热线：18674065505
      </div>
      <div class="intro-bottom">
        <p>商务合作：business@huntcoder.com</p>
      </div>
    </div>
  </div>
</footer>
