<header>
  <nav class="z-depth-nav">
    <div class="nav-wrapper ">
      <a class="brand" href="/">
        <picture>
          <source srcset="https://jianxun.b0.upaiyun.com/c/jx_static/img/logo/home-logo@1x-6b2c638d32.png, https://jianxun.b0.upaiyun.com/c/jx_static/img/logo/home-logo@2x-a4a935ed8d.png 2x" media="(min-width: 800px)">
          <img srcset="https://jianxun.b0.upaiyun.com/c/jx_static/img/logo/home-logo@1x-6b2c638d32.png, https://jianxun.b0.upaiyun.com/c/jx_static/img/logo/home-logo@2x-a4a935ed8d.png 2x">
        </picture>
      </a>
      <div class="tucked-menu">
        <ul class="menu-tabs tabs">
          <li class="tab"><a href="/position/invitation">职位邀请</a></li>
          <li class="tab"><a href="/resume">简历</a></li>
          <li class="tab"><a href="/faq">常见问题</a></li>
        </ul>

      </div>

      <div class="nav-user">
        <ul class="nav-user-container">
          <!--有新消息加载-->
          <li class="nav-user-item navbar-menu-infobox">
            <a class="tooltipped" data-position="bottom" data-delay="50">

              <span style="display:none;"></span>

              <picture>
                <img srcset="https://jianxun.b0.upaiyun.com/c/jx_static/img/misc/notifications-normal-c395479731.png, https://jianxun.b0.upaiyun.com/c/jx_static/img/misc/notifications-normal@2x-f0054ca843.png 2x">
              </picture>
            </a>
            <div class="notify-card dropdown-content">
              <input type="hidden" name="_xsrf" value="2|8110c58d|db47a4d2a394eef81e94067f3d5247e3|1444355645">
              <i class="dropdown-arrow ul-arrow"><a class="ul-arrow"></a></i>
              <div class="card-header">
                <span class="header-title">
                  <a href="#"> 通知 </a>
                </span>
                <div class="header-action">
                  <i class="pure-icon success"></i>
                  <a href="#">清除所有消息</a>
                </div>
              </div>
              <div class="card-content">
                <ul class="content-container">
                  <li class="info-item none">
                    还没有任何消息
                  </li>
                </ul>
              </div>
            </div>

          </li>
          <!--没有消息加载-->
          <!--用户下拉菜单-->
          <li class="nav-user-item dropdown navbar-menu-main">
            <ul class="dropdown-content">
              <i class="dropdown-arrow ul-arrow"><a class="ul-arrow"></a></i>
              <li><a title="账户设置" href="/account/settings">账户设置</a></li>
              <li><a title="退出" href="/account/logout">退出</a></li>
            </ul>
            <a class="dropdown-button" href="#">
              <picture>
                <img srcset="https://jianxun.b0.upaiyun.com/static/default-avatar/coder@36x36.png, https://jianxun.b0.upaiyun.com/static/default-avatar/coder@72x72.png 2x">
              </picture>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
