@charset "UTF-8";
/* 简寻新版本参数   */
/* 基本色值 */
/* 绿色 */
/* 灰色 */
/* 红色 */
/* 用户拒绝模块 */
/* section C端和B端主要内容的变量 */
/* List */
/* side-tab */
/* sidebar */
/* bg */
/* font-color */
/* footer */
/* form  */
/* Media Query Ranges  */
/* notify */
/*** Colors ***/
/* $link-color: color("light-blue", "darken-1") !default; */
/*** Badges ***/
/*** Buttons ***/
/* mini-buttons */
/* 线框按钮字体颜色 */
/* 深色线框按钮 */
/* 幽灵按钮字体颜色 */
/* 不重要按钮－简单按钮 */
/*** Cards ***/
/*** Collapsible ***/
/*** Dropdown ***/
/*** Fonts ***/
/*** Forms ***/
/*** Global ***/
/*** Navbar ***/
/* notify */
/* Uploader */
/*** Tabs ***/
/*** Tables ***/
/*** Toasts ***/
/*** Typography ***/
/*** Collections ***/
/* Progress Bar */
/* text */
/* card */
/* 原本属于千寻的变量样式 */
/* 简寻新版本参数   */
/* 用户拒绝模块 */
/* section C端和B端主要内容的变量 */
/* List */
/* font-weight */
/* 100 = thin */
/* 200 = extra-light */
/* normal = light */
/* 400 = normal, book */
/* 500 = medium */
/* 600 = demi-bold */
/* 700 = bold */
/* 800 = heavy */
/* 900 = black */
.font-family, html, .md-title-36, .md-title-34, .md-title-24, .md-title-20, .md-title-16,
.md-nav-font,
.md-menu-font,
.md-button-font, .md-body-14-87, .md-body-14-54, .md-caption-12 {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.4;
  font-family: "Helveticia neue", "Arial", "Tahoma", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "冬青黑体", "SimSun", "宋体", "STHeiti", "华文黑体", sans-serif;
  font-weight: normal;
  *zoom: 1; }

/* 设置基本字体 */
html {
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 4.2rem;
  line-height: 4.62rem;
  margin: 2.1rem 0 1.68rem 0; }

h2 {
  font-size: 3.56rem;
  line-height: 3.916rem;
  margin: 1.78rem 0 1.424rem 0; }

h3 {
  font-size: 2.92rem;
  line-height: 3.212rem;
  margin: 1.46rem 0 1.168rem 0; }

h4 {
  font-size: 2.28rem;
  line-height: 2.508rem;
  margin: 1.14rem 0 0.912rem 0; }

h5 {
  font-size: 1.64rem;
  line-height: 1.804rem;
  margin: 0.82rem 0 0.656rem 0; }

h6 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin: 0.5rem 0 0.4rem 0; }

em {
  font-style: italic; }

strong {
  font-weight: 500; }

small {
  font-size: 75%; }

.light {
  font-weight: normal; }

.thin {
  font-weight: 200; }

.font-disable {
  color: rgba(0, 0, 0, 0.28); }

.md-title-36 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4rem; }

.md-title-34 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4rem; }

.md-title-24 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem; }

.md-title-20 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.005em; }

.md-title-16,
.md-nav-font,
.md-menu-font,
.md-button-font {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 2.4rem; }

.md-body-14-87 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.2rem; }

.md-body-14-54 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.2rem;
  color: rgba(0, 0, 0, 0.54); }

.md-body-blod-14 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
  background: rgba(0, 0, 0, 0.54); }

.md-caption-12 {
  font-size: 1.2rem;
  letter-spacing: 0.02em; }

.md-body-regular {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.2rem; }

.md-body-regular-light {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.2rem;
  color: rgba(0, 0, 0, 0.54); }

.md-body-medium {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 2.4rem; }

.md-caption {
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  /* retgular */
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.md-button, .md-button-cn {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
  background: transparent;
  white-space: nowrap;
  min-width: 8.8rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

.md-button-cn {
  font-size: 15px;
  font-size: 1.5rem; }

.md-display-4 {
  font-size: 112px;
  font-size: 11.2rem;
  /* light */
  font-weight: normal;
  line-height: 11.2rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.54); }

.md-display-3 {
  font-size: 56px;
  font-size: 5.6rem;
  /* regular */
  font-weight: normal;
  line-height: 5.6rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.54); }

.md-display-2 {
  font-size: 45px;
  font-size: 4.5rem;
  /* light */
  font-weight: normal;
  line-height: 4.5rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.54); }

.md-display-1 {
  font-size: 34px;
  font-size: 3.4rem;
  /* light */
  font-weight: normal;
  line-height: 3.4rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.54); }

.md-headline {
  font-size: 24px;
  font-size: 2.4rem;
  /* light */
  font-weight: normal;
  line-height: 2.4rem;
  letter-spacing: 0.01em; }

.md-title {
  font-size: 20px;
  font-size: 2rem;
  /* medium */
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.01em; }

.md-subhead {
  font-size: 15px;
  font-size: 1.5rem;
  /* regular */
  font-weight: normal;
  line-height: 1.5rem;
  letter-spacing: 0.01em; }

/* card */
.card label {
  font-size: 12px;
  font-size: 1.2rem;
  color: #757575; }

.card .card-content-wrapper {
  position: relative;
  background: #1FBF5B;
  height: 150px;
  color: white; }
  .card .card-content-wrapper .card-content {
    position: absolute;
    padding: 16px;
    bottom: 0;
    /* todo-写入card样式 */ }
    .card .card-content-wrapper .card-content .card-title {
      font-size: 24px;
      font-size: 2.4rem; }
    .card .card-content-wrapper .card-content .card-caption {
      font-size: 14px;
      font-size: 1.4rem; }
    .card .card-content-wrapper .card-content p, .card .card-content-wrapper .card-content span {
      display: inline-block;
      width: 100%; }

.card-list .title {
  font-size: 16px;
  font-size: 1.6rem; }

.card-list .list-item {
  font-size: 16px;
  font-size: 1.6rem; }

.filter-font-bold {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600; }

.filter-font-light {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal; }

.filter-font-light-b {
  font-size: 14px;
  line-height: 24px;
  color: #EC4569;
  font-weight: normal; }

.side-info-font-big {
  font-size: 20px;
  line-height: 20px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.82); }

.side-info-font-normal {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.card-header-title {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.82); }

.input-label-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.input-field-font {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.82); }

.resume-label-font {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.82); }

.resume-field-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.28); }

.uploader-message-font {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54) !important; }

.card-title-font {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: #fff; }

.side-info-content-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.28); }

.job-title-font {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }

.job-salary-font {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(74, 175, 141, 0.87); }

.job-time-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.28); }

.job-source-title-font {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54); }

.job-bold-title-font {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.82); }

.job-item-font {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54); }

.job-text-font {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54); }

.side-title {
  font-size: 15px;
  font-weight: 900;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.87); }

.template-item-title-font {
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.87); }

.template-item-content-font {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54); }

.input-field-error-font {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: rgba(230, 57, 94, 0.87); }

.select-options-font {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.82); }

/* 简寻简历页面字体 */
.user-info-name-font, .notify-font {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.82); }

.info-head-menu-font {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.82); }

.resume-section-title-font {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #5BA58A; }

.section-item-title-font {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }

.section-item-block-font {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54); }

.rejection-item-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }

.member-login-font {
  font-size: 14px;
  line-height: 32px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }

.position-content-font {
  font-size: 14px;
  line-height: 32px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54); }

.common-title-font {
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }

.position-info-font, .talent-content-font, .template-item-font {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54); }

.talent-type-font {
  font-size: 12px;
  line-height: 24px;
  font-weight: 900;
  color: #FFF; }

.extra-action-font {
  font-size: 12px;
  color: #20C05C;
  font-weight: 100; }

.invitation-content-font {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54); }

.mini-btn-font {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54); }

.footer-caption-font {
  font-size: 12px;
  font-weight: 400;
  color: #20C05C; }

.widget-page-font {
  font-size: 14px;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  /* font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* 1 */
html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: #13A277;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

ul {
  padding: 0; }
  ul li {
    list-style-type: none; }

html {
  height: 100%;
  min-width: 320px;
  width: 100%; }

body {
  height: 100%;
  position: relative;
  background: #FAFAFA;
  width: 100%;
  min-width: 320px; }

header {
  width: 100%;
  min-width: 320px; }

.website-container {
  position: relative;
  min-height: 100%;
  padding-bottom: 66px;
  height: auto; }
  @media screen and (max-width: 480px) {
    .website-container {
      padding-bottom: 120px; } }

.main-container {
  width: 960px;
  position: relative;
  padding: 64px 0 0 0;
  margin: 0 auto; }

ul {
  list-style-type: none; }

/* a { */
/*   color: $green-2; */
/*   text-decoration: none; */
/*   /\* width: 100%; *\/ */
/*   /\* max-width: 960px; *\/ */
/*   width: 960px; */
/*   position: relative; */
/*   /\* padding: 72px 24px 12px 24px; *\/ */
/*   padding: 64px 0 0 0; */
/*   margin: 0 auto; */
/* } */
.valign-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .valign-wrapper .valign {
    display: block; }

.clearfix {
  clear: both; }

/* 投影1 */
/* 距离: 1; */
/* 大小: 5; */
/* 不透明度: 10; */
/* 光照角度: 30°; */
/* ---------------- */
/* 外发光 */
/* 颜色: #000000; */
/* 不透明度: 2; */
/* 大小: 4 */
.z-depth-1 {
  -webkit-box-shadow: -1.7px 1px 5px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.02);
  -moz-box-shadow: -1.7px 1px 5px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.02);
  box-shadow: -1.7px 1px 5px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.02); }

/* .z-depth-1-half{ */
/*     @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)); */
/* } */
/* 投影2 */
/* 距离: 4; */
/* 大小: 10; */
/* 不透明度: 12; */
/* 光照角度: 30°; */
/* ---------------- */
/* 外发光 */
/* 颜色: #000000; */
/* 不透明度: 4; */
/* 大小: 6 */
.z-depth-2 {
  -webkit-box-shadow: -6.8px 4px 10px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -6.8px 4px 10px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.06);
  box-shadow: -6.8px 4px 10px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.06); }

/* 投影导航栏 */
/* 距离: 2; */
/* 大小: 4; */
/* 不透明度: 10; */
/* 光照角度: 90°; */
.z-depth-nav, .dropdown-content, nav {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

/* .z-depth-3{ */
/*     @include box-shadow-2(0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)); */
/* } */
/* .z-depth-4{ */
/*     @include box-shadow-2(0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)); */
/* } */
/* .z-depth-5{ */
/*     @include box-shadow-2(0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)); */
/* } */
.divider {
  height: 1px;
  overflow: hidden;
  background-color: color("grey", "lighten-2"); }

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #20C05C; }

i {
  line-height: inherit; }
  i.left {
    float: left;
    margin-right: 15px; }
  i.right {
    float: right;
    margin-left: 15px; }
  i.tiny {
    font-size: 1rem; }
  i.small {
    font-size: 2rem; }
  i.medium {
    font-size: 4rem; }
  i.large {
    font-size: 6rem; }

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto; }

.pagination li {
  font-size: 1.2rem;
  float: left;
  padding: 0 5px;
  line-height: 30px;
  margin: 0 5px;
  border-radius: 2px;
  text-align: center; }
  .pagination li a {
    color: #444; }
  .pagination li.active a {
    color: #fff; }
  .pagination li.active {
    background-color: #20C05C; }
  .pagination li.disabled a {
    cursor: default;
    color: #999; }
  .pagination li i {
    font-size: 2rem; }

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px; }

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }
  .parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%); }

.pin-top, .pin-bottom {
  position: relative; }

.pinned {
  position: fixed !important; }

/*********************
   Transition Classes
**********************/
ul.staggered-list li {
  opacity: 0; }

.fade-in {
  opacity: 0;
  transform-origin: 0 50%; }

/*********************
   Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important; } }

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important; } }

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important; } }

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important; } }

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: initial !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: initial !important; } }

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: initial !important; } }

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: initial !important; } }

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: initial !important; } }

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center; } }

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #20C05C; }

table, th, td {
  border: none; }

table {
  width: 100%;
  display: table; }
  table.bordered tr {
    border-bottom: 1px solid #d0d0d0; }
  table.striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2; }
  table.hoverable tbody tr {
    -webkit-transition: background-color 0.25s ease;
    -moz-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    -ms-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease; }
    table.hoverable tbody tr:hover {
      background-color: #f2f2f2; }
  table.centered thead tr th, table.centered tbody tr td {
    text-align: center; }

thead {
  border-bottom: 1px solid #d0d0d0; }

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px; }

@media only screen and (max-width: 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */ }
    table.responsive-table th,
    table.responsive-table td {
      margin: 0;
      vertical-align: top; }
    table.responsive-table th {
      text-align: left; }
    table.responsive-table thead {
      display: block;
      float: left; }
      table.responsive-table thead tr {
        display: block;
        padding: 0 10px 0 0; }
        table.responsive-table thead tr th::before {
          content: "\00a0"; }
    table.responsive-table tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap; }
      table.responsive-table tbody tr {
        display: inline-block;
        vertical-align: top; }
    table.responsive-table th {
      display: block;
      text-align: right; }
    table.responsive-table td {
      display: block;
      min-height: 1.25em;
      text-align: left; }
    table.responsive-table tr {
      padding: 0 10px; }
    table.responsive-table thead {
      border: 0;
      border-right: 1px solid #d0d0d0; }
    table.responsive-table.bordered th {
      border-bottom: 0;
      border-left: 0; }
    table.responsive-table.bordered td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }
    table.responsive-table.bordered tr {
      border: 0; }
    table.responsive-table.bordered tbody tr {
      border-right: 1px solid #d0d0d0; } }

.collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative; }
  .collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0; }
    .collection .collection-item.avatar {
      height: 84px;
      padding-left: 72px;
      position: relative; }
      .collection .collection-item.avatar .circle {
        position: absolute;
        width: 42px;
        height: 42px;
        overflow: hidden;
        left: 15px;
        display: inline-block;
        vertical-align: middle; }
      .collection .collection-item.avatar i.circle {
        font-size: 18px;
        line-height: 42px;
        color: #fff;
        background-color: #999;
        text-align: center; }
      .collection .collection-item.avatar .title {
        font-size: 16px; }
      .collection .collection-item.avatar p {
        margin: 0; }
      .collection .collection-item.avatar .secondary-content {
        position: absolute;
        top: 16px;
        right: 16px; }
    .collection .collection-item:last-child {
      border-bottom: none; }
    .collection .collection-item.active {
      background-color: #41C76E;
      color: white; }
  .collection a.collection-item {
    display: block;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
    color: #41C76E; }
    .collection a.collection-item:not(.active):hover {
      background-color: #ddd; }
  .collection.with-header .collection-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px; }
  .collection.with-header .collection-item {
    padding-left: 30px; }

.secondary-content {
  float: right;
  color: #41C76E; }

span.badge {
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  color: color("grey", "darken-1");
  position: absolute;
  right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  span.badge.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #41C76E;
    border-radius: 2px; }
  span.badge.new:after {
    content: " new"; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .video-container.no-controls {
    padding-top: 0; }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #dff5e6;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden; }
  .progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #41C76E;
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    -ms-transition: width 0.3s linear;
    transition: width 0.3s linear; }
  .progress .indeterminate {
    background-color: #41C76E; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      -moz-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      -ms-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      -o-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -moz-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -ms-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -o-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
      -moz-animation-delay: 1.15s;
      -ms-animation-delay: 1.15s;
      -o-animation-delay: 1.15s;
      animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@-moz-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@-ms-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@-o-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

@-moz-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

@-ms-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

@-o-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

/*******************
   Utility Classes
*******************/
.hide {
  display: none !important; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.center, nav .nav-wrapper .brand img, .center-align {
  text-align: center; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.circle {
  border-radius: 50%; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.truncate {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap; }

.no-padding {
  padding: 0 !important; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FAFAFA;
  text-align: center;
  height: 54px;
  font-size: 0;
  border-top: 1px solid #F1F1F1; }
  @media screen and (max-width: 480px) {
    footer {
      height: 108px; } }
  footer .footer-content {
    max-width: 960px;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    height: 100%; }
  footer .footer-item {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.14); }
  footer .intro-top {
    display: inline-block;
    height: 50%; }
    footer .intro-top.mobile {
      display: none; }
      footer .intro-top.mobile .jx-wx {
        padding-left: 0;
        border: none; }
  footer .footer-company-intro {
    position: relative;
    text-align: left; }
    footer .footer-company-intro a {
      color: rgba(0, 0, 0, 0.14); }
    footer .footer-company-intro .wx-code-content {
      display: none;
      position: absolute;
      z-index: 99;
      top: -150px;
      left: 30px; }
    footer .footer-company-intro .jx-wx {
      cursor: pointer;
      display: inline-block;
      border-left: 1px solid #E6E6E6;
      padding-left: 3px; }
      footer .footer-company-intro .jx-wx:hover .wx-code-content {
        display: block; }
  footer .footer-company-contact {
    text-align: right; }

.center, nav .nav-wrapper .brand img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.center-pre {
  position: absolute;
  margin: auto; }

/* 多出字符按三个圆点显式 */
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* 用于开发测试页面 */
.test-container {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 100px;
  top: 0;
  left: 0;
  background: lightblue; }

/* 一些通用的样式 */
.bottom-border, .notify-card .card-header, .notify-card .card-content .info-item {
  border-bottom: 1px solid #E6E6E6; }

.disabled {
  color: rgba(0, 0, 0, 0.26);
  background: #F5F6F7;
  cursor: not-allowed; }

.pure-icon {
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0; }
  .pure-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0; }
  .pure-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0; }
  .pure-icon.success {
    padding-left: 28px;
    color: #C2C5B7; }
    .pure-icon.success::before {
      left: 6px;
      width: 5px;
      height: 12px;
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: #C2C5B7;
      margin-top: -8px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .pure-icon.left-arrow {
    padding-left: 28px;
    color: #C2C5B7;
    height: 15px;
    top: 0px;
    left: -10px;
    cursor: pointer; }
    .pure-icon.left-arrow:before {
      left: 17px;
      width: 8px;
      height: 8px;
      border-width: 0 0 2px 2px;
      border-style: solid;
      margin-top: -4px;
      background: transparent;
      transform: rotate(45deg); }
  .pure-icon.right-arrow {
    padding-left: 28px;
    color: #C2C5B7;
    height: 15px;
    cursor: pointer; }
    .pure-icon.right-arrow:before {
      left: 8px;
      width: 8px;
      height: 8px;
      border-width: 0 2px 2px 0;
      border-style: solid;
      margin-top: -4px;
      background: transparent;
      transform: rotate(-45deg); }

/* 箭头样式 上下左右 */
.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  /* margin-bottom: 2px; */ }
  .arrow.arrow-down,
  .arrow.arrow-up {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; }
  .arrow.arrow-down {
    border-top: 5px solid rgba(0, 0, 0, 0.28); }
  .arrow.arrow-up {
    border-bottom: 5px solid rgba(0, 0, 0, 0.28); }
  .arrow.arrow-left,
  .arrow.arrow-right {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; }
  .arrow.arrow-left {
    border-right: 5px solid rgba(0, 0, 0, 0.28); }
  .arrow.arrow-right {
    border-left: 5px solid rgba(0, 0, 0, 0.28); }

#notify {
  display: inline-block;
  position: fixed;
  top: -56px;
  z-index: 99999;
  width: 100%;
  border-radius: 2px;
  height: 56px;
  left: 0;
  opacity: 1;
  /* &.slideInDown {
     z-index: 9999;
     -webkit-animation-duration: 3s;
     animation-duration: 3s;
     -webkit-animation-name: slideInDown;
     animation-name: slideInDown;
     }

     &.slideInDown.success {
     z-index: 9999;
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-name: slideInDown;
     animation-name: slideInDown;
     } */ }
  #notify .notify-content {
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin: auto;
    height: 56px;
    line-height: 56px;
    width: 100%;
    text-align: center;
    padding: 8px;
    left: 0;
    right: 0; }
  #notify.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  #notify.errors {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }
  #notify .cross {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
    height: 20px;
    width: 20px; }

@-webkit-keyframes slideInDown {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  5% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  99% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0; } }

.dropdown-content {
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  position: absolute;
  z-index: 99;
  will-change: width, height;
  /* 箭头 */ }
  .dropdown-content li {
    background-color: #fff;
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    padding: 8px;
    width: 100%;
    text-align: left;
    text-transform: none; }
    .dropdown-content li:hover, .dropdown-content li.active {
      background-color: #eee; }
    .dropdown-content li > a, .dropdown-content li > span {
      display: block;
      /* height: 48px; */
      width: 100%;
      opacity: 1;
      color: rgba(0, 0, 0, 0.54); }
  .dropdown-content i.ul-arrow {
    background-color: transparent;
    display: block;
    position: relative;
    height: 8px;
    width: 100%;
    z-index: -1; }
    .dropdown-content i.ul-arrow a {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 7px;
      width: 0 !important;
      height: 0 !important;
      border-style: solid;
      border-width: 0 18px 12px 18px;
      border-color: transparent transparent #FFF transparent;
      line-height: 0px;
      _border-color: #FFF;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }

header {
  z-index: 10;
  position: absolute;
  height: 56px;
  width: 100%;
  background-color: #FFF;
  text-align: left; }

nav {
  width: 100%;
  height: 48px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px; }
  nav .nav-wrapper {
    position: absolute;
    margin: auto;
    /* 不支持calc的 */
    left: 0;
    left: calc(100vw - 100%);
    right: 0;
    width: 100%;
    max-width: 960px;
    height: 48px;
    /* logo的样式 */
    /* 导航栏内容样式 */ }
    nav .nav-wrapper .brand {
      position: relative;
      height: 34px;
      width: 130px;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      margin-top: 4px; }
      nav .nav-wrapper .brand img {
        max-width: 100%;
        max-height: 100%; }
    nav .nav-wrapper .tucked-menu {
      position: absolute;
      top: 0;
      left: 56px;
      display: inline-block;
      margin: 0 78px; }
      nav .nav-wrapper .tucked-menu .mobile {
        display: none; }
      nav .nav-wrapper .tucked-menu ul {
        position: relative;
        width: 100%;
        margin: 0;
        height: 48px; }
        nav .nav-wrapper .tucked-menu ul li {
          float: left;
          height: 100%;
          line-height: 48px;
          padding-left: 24px;
          padding-right: 24px;
          width: auto; }
          nav .nav-wrapper .tucked-menu ul li a {
            display: inline-block;
            color: rgba(0, 0, 0, 0.54);
            font-size: 14px; }
            nav .nav-wrapper .tucked-menu ul li a:hover, nav .nav-wrapper .tucked-menu ul li a.active {
              color: #13A277; }
    nav .nav-wrapper .indicator {
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: #1FBF5B;
      will-change: left, right; }

.nav-user {
  position: absolute;
  /* TODO：如果取消 top:0  在简寻中会出现nav-user直接出现在navbar的下面的情况 ，亟需明白原因*/
  top: 0;
  right: 0;
  width: 120px;
  display: inline-block;
  height: 48px;
  color: #000;
  /* 下拉菜单的样式 */ }
  .nav-user .nav-user-container {
    display: inline-block;
    position: relative;
    height: 48px;
    margin: 0; }
    .nav-user .nav-user-container .nav-user-item {
      width: 48px;
      height: 48px;
      display: inline-block;
      position: relative;
      margin-left: 10px; }
      .nav-user .nav-user-container .nav-user-item img {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 36px; }
      .nav-user .nav-user-container .nav-user-item a {
        display: inline-block;
        height: 48px;
        width: 100%;
        opacity: 1;
        padding: 0; }
    .nav-user .nav-user-container ul.content-container li {
      margin: 0; }
    .nav-user .nav-user-container li.dropdown img {
      height: 36px;
      width: 36px; }
    .nav-user .nav-user-container li.dropdown .dropdown-button {
      cursor: pointer; }
    .nav-user .nav-user-container li.dropdown:hover > ul.dropdown-content {
      display: block; }
  .nav-user ul.dropdown-content {
    width: 128px;
    right: 0;
    top: 48px;
    background: transparent; }
    .nav-user ul.dropdown-content li {
      background: #FFF;
      text-align: center;
      padding: 0px; }
      .nav-user ul.dropdown-content li a {
        line-height: 48px;
        padding: 0 16px;
        font-size: 14px; }
        .nav-user ul.dropdown-content li a:hover {
          background-color: #EBEBEB; }
      .nav-user ul.dropdown-content li:last-child {
        border-top: 1px solid #EBEBEB; }

/* 未登录button样式 */
.nav-btn-login {
  position: absolute;
  width: 108px;
  height: 26px;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 0;
  line-height: 26px;
  background-color: #fafafa; }
  .nav-btn-login a {
    display: inline-block;
    text-align: center;
    height: 100%;
    line-height: 26px;
    font-size: 14px;
    width: 50%;
    border: 0;
    color: rgba(0, 0, 0, 0.54); }
    .nav-btn-login a:hover {
      background-color: #20C05C;
      color: #FFF;
      cursor: pointer; }

.navbar-menu-infobox .tooltipped {
  display: inline-block; }
  .navbar-menu-infobox .tooltipped span {
    text-align: center;
    background-color: #e6395e;
    color: white;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 30px;
    top: 6px;
    border-radius: 9px; }

.notify-card {
  width: 300px;
  top: 48px;
  right: -6px;
  font-size: 0; }
  .notify-card .card-header {
    width: 100%;
    height: 48px;
    background: #FFF;
    position: relative;
    font-size: 14px; }
    .notify-card .card-header .header-title {
      position: absolute;
      left: 16px;
      display: inline-block;
      line-height: 48px; }
      .notify-card .card-header .header-title * {
        color: rgba(0, 0, 0, 0.54); }
    .notify-card .card-header .header-action {
      position: absolute;
      right: 16px;
      display: inline-block;
      text-align: right; }
      .notify-card .card-header .header-action:hover a {
        color: #20C05C; }
      .notify-card .card-header .header-action a {
        width: auto;
        line-height: 48px;
        cursor: pointer;
        display: inline-block;
        padding: 0 8px;
        color: rgba(0, 0, 0, 0.54); }
  .notify-card .card-content {
    width: 100%;
    max-height: 288px;
    min-height: 72px;
    overflow-y: auto;
    overflow-x: hidden; }
    .notify-card .card-content ul.content-container {
      width: 100%;
      height: auto; }
    .notify-card .card-content .info-item {
      display: inline-block;
      height: 72px;
      width: 100%;
      padding: 16px;
      background: #FFF;
      cursor: pointer;
      font-size: 14px; }
      .notify-card .card-content .info-item span {
        color: rgba(0, 0, 0, 0.54); }
      .notify-card .card-content .info-item.none {
        text-align: center;
        color: rgba(0, 0, 0, 0.28);
        line-height: 72px;
        padding: 0; }
        .notify-card .card-content .info-item.none:hover {
          background: #FFF; }
      .notify-card .card-content .info-item.unread {
        border-left: 2px solid #20C05C; }
      .notify-card .card-content .info-item:hover {
        background: #FAFAFA; }

/* 活动提示 */
.event-notify {
  cursor: pointer;
  position: absolute;
  top: -30px;
  height: 90px;
  width: 80%;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 800px;
  z-index: 5; }
  .event-notify a {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .event-notify img {
    max-width: 100%;
    max-height: 100%; }
  .event-notify .event-cross {
    font-size: 26px;
    font-weight: bold;
    color: #6A3906;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 20px; }

@media screen and (max-width: 959px) {
  header .brand {
    margin-left: 12px; } }

@media screen and (max-width: 560px) {
  header {
    position: fixed !important; }
    header nav .nav-wrapper {
      left: auto; }
      header nav .nav-wrapper .tucked-menu {
        left: auto;
        right: 0;
        margin: 0; }
        header nav .nav-wrapper .tucked-menu .menu-tabs.tabs {
          /* 为了移动端登陆之后能看到基本的信息打的补丁 */ }
          header nav .nav-wrapper .tucked-menu .menu-tabs.tabs.pc {
            display: none; }
          header nav .nav-wrapper .tucked-menu .menu-tabs.tabs.mobile {
            display: block;
            font-weight: bold; }
            header nav .nav-wrapper .tucked-menu .menu-tabs.tabs.mobile a {
              font-size: 16px; }
          header nav .nav-wrapper .tucked-menu .menu-tabs.tabs .tab:last-child:last-child {
            display: none; }
          header nav .nav-wrapper .tucked-menu .menu-tabs.tabs .tab:last-child:first-child {
            display: block; }
    header nav .nav-user {
      display: none; } }
  @media screen and (max-width: 560px) and (max-width: 960px) {
    header .nav-user {
      margin-right: 12px; } }

@media screen and (max-width: 560px) {
    header .nav-btn-login {
      display: none; } }

.faq-title {
  padding-left: 124px;
  margin-bottom: 28px; }
  .faq-title h4 {
    font-size: 3.6rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87); }

body {
  background: #FFF; }

.faq-container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 20px; }

.faq-content {
  font-size: 0; }

.faq-type-container {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  max-width: 100px;
  padding-right: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54); }

.faq-type-list {
  width: 100%;
  padding: 0 8px; }
  .faq-type-list .type-list-item {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 8px;
    line-height: 36px; }
    .faq-type-list .type-list-item.active,
    .faq-type-list .type-list-item:hover {
      color: #13A277; }

.faq-collection-container {
  padding: 0 48px;
  display: inline-block;
  width: 80%;
  max-width: 610px;
  border-left: 2px solid #E6E6E6;
  margin-top: 6px; }
  .faq-collection-container .faq-content-item {
    font-size: 16px;
    margin-bottom: 32px;
    position: relative; }
  .faq-collection-container .q-icon {
    position: absolute;
    left: -24px;
    top: -1px;
    color: rgba(0, 0, 0, 0.87); }
  .faq-collection-container .q-title {
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87); }
  .faq-collection-container .q-content {
    font-size: 14px;
    line-height: 24px;
    margin-top: 12px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.54); }
  .faq-collection-container .faq-container-item.coder-content {
    display: none; }

/*# sourceMappingURL=maps/faq.css.map */
