<div class="panel-content exist" data-type="award" data-award-id="${data_id}">
  <div class="panel-edit-container">
    <div class="panel-content award-item">
      <div class="row">
        <div class="input-field col s12">
          <input class="award-name validate" type="text" data-rules="required" data-display="奖项名称" name="award-name" value="">
          <label for="award-name">奖项名称：</label>
          <span class="help-block"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <select class="award-time-year time-year">
          </select>
          <label for="award-time-year">获奖时间:</label>
          <span class="help-block"></span>
        </div>
        <div class="input-field col s3 time-month">
          <select class="award-time-month time-month ">
          </select>
          <span class="help-block"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea class="jx award-description validate" type="text" data-rules="required" data-display="详细描述" name="award-description" ></textarea>
          <label for="award-description">详细描述：</label>
          <span class="help-block"></span>
        </div>
      </div>
      <div class="panel-action" data-type="edit" data-target="award">
        <div class="btn-flat cancel">
          取消
        </div>
        <input type="button" class="btn confirm J_Ajax_emitter" data-loading="提交中...." data-restext="确认" value="确认">
        <a class="delete">删除此条记录</a>
      </div>
    </div>
  </div>
  <div class="panel-show-container">
    <span class="edit-trigger" data-target="award">修改</span>
    <div class="row panel-info-item ">
      <label class="info-title" for="award-name">奖项名称：</label>
      <span class="award-name info-content">${name}</span>
    </div>
    <div class="row panel-info-item">
      <label for="award-time" class="info-title">获奖时间：</label>
      <p class="time-concat info-content">
        <span class="award-time-year"> ${time_year} </span>
        <i>-</i>
        <span class="award-time-month"> ${time_month} </span>
      </p>

    </div>
    <div class="row panel-info-item">
      <div class="col s12">
        <label for="award-description" class="info-title active">详细描述：</label>
        <textarea class="jx info-content award-description" readonly="">${description}</textarea>
      </div>
    </div>
  </div>
</div> 
