<div  class="dist2">
  <section class="recommend ">
    <div class="dist-content">
      <div class="md-text-filed discover-item discover-item section-content-item section-content-item-text">
        <div class="text-content">
          <p class="caption-head ">一分钟开启人才推荐</p>
          <ul class="caption-list ">
            <li class="caption-list-item">
              <p class="caption-text md-body-regular-light">快速绑定你的 Github，Stack Overflow，LinkedIn 等账号，完善基础信息，瞬间拥有完美、全面的在线简历，推荐之旅从此开始。</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="recommend-item section-content-item section-content-item-pic">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/static/img/homepage/section-discovery.png, /static/img/homepage/section-discovery@2x.png 2x">
          <!--[if IE 9]></video><![endif]-->
          <img class="md-img" srcset="/static/img/homepage/media.png" />
        </picture>
      </div>
    </div>
  </section>
  <section class="code2offer reverse">
    <div class="dist-content">

      <div class="md-text-filed discover-item section-content-item section-content-item-text">
        <div class="text-content">
          <p class="caption-head ">好的 CODE = 优质的 OFFER</p>
          <ul class="caption-list ">
            <li class="caption-list-item">
              <p class="caption-text md-body-regular-light">我们将精确分析你在 Github 及其他网络社区上编写的代码。如果您通过我们的测评进入推荐名单，您将会在最短的时间收到最合适的公司发来的面试邀请！</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="code2offer-item section-content-item section-content-item-pic">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/static/img/homepage/section-evaluate.png, /static/img/homepage/section-evaluate@2x.png 2x">
          <!--[if IE 9]></video><![endif]-->
          <img class="md-img" srcset="/static/img/homepage/media.png" />
        </picture>
      </div>
    </div>
  </section>
  <section class="track">
    <div class="dist-content">
      <div class="md-text-filed discover-item section-content-item section-content-item-text">
        <div class="text-content">
          <p class="caption-head ">同时获得成长建议和 OFFER</p>
          <ul class="caption-list ">
            <li class="caption-list-item">
              <p class="caption-text ">我们将携手业内大咖给您最诚恳的建议助您成长，让您在求职路上收获最满意的 OFFER。至此，恭喜您已经向成功迈出了一大步！</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="discover-item section-content-item section-content-item-pic">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/static/img/homepage/section-track.png, /static/img/homepage/section-track@2x.png 2x">
          <!--[if IE 9]></video><![endif]-->
          <img class="md-img" srcset="/static/img/homepage/media.png" />
        </picture>
      </div>
    </div>
  </section>
</div>
