<div  class="dist4">
  <section class="faq">
    <div class="dist-content">
      <div class="faq-title">
        <p>常见问题 </p>
      </div>
      <div class="section-content-item answer">
        <div class="answer-content">
          <ul >
            <li class="active">如何玩转简寻？</li>
            <li class="">简寻如何筛选程序员进入推荐名单？</li>
            <li class="">为什么简寻一次只推送 10 - 20 个职位？</li>
            <li class="">简寻如何保护个人隐私？</li>
            <li class="">可否暂时关闭职位推荐功能？</li>
          </ul>
        </div>
      </div>
      <div class="md-text-filed  section-content-item section-content-item-text">
        <div class="caption-title">
          Q: <span>如何玩转简寻 ?</span>
        </div>
        <ul class="caption-list ">
          <li class="caption-list-item active">
            <p class="caption-text ">
              A: 直接注册或者通过我们的邀请邮件注册进入简寻，通过绑定 Github 等账号并且完善个人基础信息即可开启职位推荐。我们将根据您的具体情况推荐到最合适的公司，公司会在最短的时间内对你的技能测试报告进行核实并给你发送面试邀请。
            </p>
          </li>
          <li class="caption-list-item">
            <p class="caption-text ">
              A: 简寻技术团队构建了一个信息抓取和分析引擎，全网抓取程序员的代码、问答等详细信息，通过代码、在技术社区贡献、博客、教育和项目经历等信息进行综合评价。并人工复审测评结果，以此来不断提高引擎分析的准确性，保证为您提供更好的服务。
            </p>
          </li>
          <li class="caption-list-item">
            <p class="caption-text ">
              A: 简寻始终秉承质量先于数量的原则。过多的职位推荐往往会对求职者的求职判断造成一定程度的影响及骚扰。我们会时刻关注并统计雇主公司在近期的邀请率以及入职率等数据，在保证质量的前提下，为您推荐最合适的职位，减少不必要的骚扰。在一批公司推荐完成但是没有入职成功之后，我们将会为您开启新的一轮推荐。
            </p>
          </li>
          <li class="caption-list-item">
            <p class="caption-text ">
              A: 我们坚决保护您的隐私，您的个人私密信息将处于保密状态直到您确认接受雇主向您发送的面试邀请。
            </p>
          </li>
          <li class="caption-list-item">
            <p class="caption-text ">
              A: 可以随时关闭职位推荐。在您重新开启职位推荐的时候，我们才会重新为您进行推荐。
            </p>
          </li>
        </ul>
      </div>
  </section>
</div>
