<div class="dist1">
  <div class="dist-content">
    <div class="dist-content-main">
      <section class="head-content" >
        <div class="head-top">
          <div class="head-title">
            <p>你值得拥有更优质的 Offer</p>
          </div>
          <div class="head-caption">
            <p>无需再海投简历，用 code 为自己内推</p>
            <p>简寻通过算法精准分析你的代码和网络踪迹，为你推荐最合适的工作</p>
          </div>
        </div>
        <div class="head-action">
          {% if current_user %}
          <a class="btn-flat" href="/account/fillin/step1" href="即刻开始"> 即刻开始 </a>
          {% else %}
          <a class="btn-flat" href="/account/register" href="即刻开始"> 即刻开始 </a>
          <a class="mobile-tmp-login" href="/account/login">
            已有账号，点击登录 
          </a>
          {% end %}
        </div>
      </section>
      <section class="intro-media">
        <div class="media-content">
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/static/img/homepage/header-victer.png 1x, /static/img/homepage/header-victer@2x.png 2x" >
            <!--[if IE 9]></video><![endif]-->
            <img class="md-img" srcset="/static/img/homepage/media.png" />
          </picture>
        </div>
      </section>
    </div>
  </div>
</div>
