<div class="dist3">
  <section class="events-collection">
    <div class="dist-content">
      <div class="section-title">
        活动专题
      </div>
      <div class="section-content events-lists-container">
        <div class="events-lists-content">
          <ul class="events-lists">
            <li class="event-item">
              <a href="/event/1" target="_blank">
                <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source srcset="/static/img/events/banner-pc.png, /static/img/events/banner-pc@2x.png 2x" media="(min-width: 481px)">
                  <source srcset="/static/img/events/banner-mobile.png, /static/img/events/banner-mobile@2x.png 2x" media="(max-width: 480px)">
                  <!--[if IE 9]></video><![endif]-->
                  <img srcset="/static/img/events/media.png" />
                </picture>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </section>
</div>
