<div class="dist5">
  <section class="clients-container">
    <div class="dist-content">
      <div class="section-title">
        他们都在这里招聘
      </div>
      <div class="section-content">
        <div class="client-box-container">
          <ul class="client-box pure-menu pure-menu-hortizontal">
            <li class="client-item pure-menu-item">
              <div class="bg">
              </div>
              <div class="client-logo catchyou">
              </div>
            </li>
            <li class="client-item pure-menu-item">
              <div class="bg">
              </div>
              <div class="client-logo dgtle">
              </div>
            </li>
            <li class="client-item pure-menu-item">
              <div class="bg">
              </div>
              <div class="client-logo fengguo">
              </div>
            </li>
            <li class="client-item pure-menu-item">
              <div class="bg">
              </div>
              <div class="client-logo gq">
              </div>
            </li>
            <li class="client-item pure-menu-item">
              <div class="bg">
              </div>
              <div class="client-logo knewcoin">
              </div>
            </li>
            <li class="client-item pure-menu-item">
              <div class="bg">
              </div>
              <div class="client-logo litb">
              </div>
            </li>
            <li class="client-item pure-menu-item">
              <div class="bg">
              </div>
              <div class="client-logo zhihu">
              </div>
            </li>
            <li class="client-item pure-menu-item">
              <div class="bg">
              </div>
              <div class="client-logo meizu">
              </div>
            </li>
            <li class="client-item pure-menu-item">
              <div class="bg">
              </div>
              <div class="client-logo meizu">
              </div>
            </li>
            <li class="client-item pure-menu-item">
              <div class="bg">
              </div>
              <div class="client-logo meizu">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div c[]lass="head-action mobile">
        <a class="btn action" href="/account/fillin/step1" href="即刻开始"> 即刻开始 </a>
      </div>
    </div>
  </section>
</div>
